@font-face {
    font-family: 'FreeSerif';
    src: url(../fonts/freefont/FreeSerif.woff)
}

#speed-slider {
    margin: 10px;
    width: 75%;
}

.error-text {
    margin: 0 5px;
    color: #ac2925;
}

html, body {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
    background-color: #C8D9DF;
}

body { 
    background-image: url(../img/parchment-paper-white.jpg);
    overflow-y: hidden;
    padding-top: 20px; 
    width: 4705px; 
}

#logo {
	font-family: FreeSerif;
}

nav.left {
	position: fixed;
	left: 0px;
	margin: 0px 0px 0px 20px;
}
nav.right {
	position: fixed;
	right: 0px;
	margin: 0px 20px 0px 0px;
}

.options {
    display: block;
    color: #337ab7;
    margin: 5px auto;
}

.bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.options input[type=checkbox] {
    margin-right: 5px;
}

.sheet-music {
    position: absolute;
    top: 60px;
    height: 300px;
    width: 820px;
    left: 25%;
    margin-left: -350px;
    text-align: center;
}

#scoreboard {
    color: red;
    font-size: 48px;
    position: absolute;
    left: 50%;
}

#round-progress {
    position: absolute;
    top: 650px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
}
