@font-face {
    font-family: 'FreeSerif';
    src: url(../fonts/freefont/FreeSerif.woff)
}

#speed-slider {
    margin: 10px;
    width: 75%;
}

html, body {
	height: 100%;
	font-family: Philosopher, Tahoma; 
    background-color: #C8D9DF;
}

body { 
    background-image: url(../img/parchment-paper-white.jpg);
    overflow-y: hidden;
    padding-top: 20px; 
    width: 4705px; 
}

nav {
	font-family: Philosopher, Tahoma; 
}

nav.left {
	position: fixed;
	left: 0px;
	margin: 0px 0px 0px 20px;
}
nav.right {
	position: fixed;
	right: 0px;
	margin: 0px 20px 0px 0px;
}

.options {
    display: block;
    color: #337ab7;
}

.bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.options input[type=checkbox] {
    margin-right: 5px;
}

.sheet-music {
    position: absolute;
    top: 120px;
    height: 200px;
    width: 820px;
    left: 50%;
    margin-left: -350px;
    text-align: center;
}

#scoreboard {
    color: red;
    font-size: 48px;
    position: absolute;
    left: 50%;
}

#round-progress {
    position: absolute;
    top: 650px;
    left: 50%;
    margin-left: -600px;
    width: 1200px;
}
